
.contener-bear-photo{
 
    background:$color-white;

height: 30vh;
display: flex;
justify-content: center;
align-items: center;

}
article{
    width: 25rem;
   background: $color-peche;
   border-radius: 1rem ;
    img{
        //object-fit: cover;
        width: 25rem;
        height: 15rem;
        padding: 0.5rem;
        border-radius: 1rem 1rem 0 0rem;
    };
    .div-details-photo{
       
        padding: 0 0.5rem ; 
    }
    .nom-prix{
       
        display: flex;
        justify-content: space-between;
        
    }
}
.contener-bear{

   
background:$color-black;

height: 45vh;


}