 @keyframes translateH1 {
     0%{
      transform: translateX(1000px);
     opacity: 0;
    
    }
    50% {
         transform: translateX(-400px);
 
       
        }
    100% {
         transform: translateX(0px);
    
      
    }
   }



 @keyframes animationHeader {
     0% {
       
       transform: translatey(-20px);
       opacity: 0;
     
     }
 
     
     100% {
          transform: translatey(0px);
          font-size: 2.5rem; 
          opacity: 1;
          letter-spacing: 15px;
     }
   }
 


