.container-fluid{
    padding: 0;
    
}
.contener-bear-photo{
 
    // background-image:url("/front-end/img/teddy_4.jpg");
    background-repeat: repeat;
    background-size: 50%;

height: 30vh;
display: flex;
justify-content: center;
align-items: center;

}
.sectionNounours{
    
    background: #f3976c;
    h2{
        text-align: center;
        color: $color-peche;
        
    }
}
.container-bear{

   
    
    display: flex;
   
    flex-wrap: wrap;
   
    border-radius: 1rem 1rem 0 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    
 
}
article{
    width: 30%; 
   background: $color-peche;
   border-radius: 1rem ;
   margin: 1rem;
   box-shadow: 1px 1px 5px $color-black;
   &:hover {
    transform: scale(1.05);
    transition: transform 550ms;

   }
    img{
        
        width: 100%;
        height: 175px;
        object-fit: fill;
        border-radius: 1rem 1rem 0 0rem;
        cursor: pointer

    };
    .div-details-photo{
       
        padding: 0.5rem 0.5rem ; 
        background: $color-black;
        color: $color-peche;
        height: 70px;
        border-radius:0 0 1rem 1rem;
        p{
            margin-bottom: 0.2rem;
        }
        

    }
    .nom-prix{
       
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        
    }
}

//..........page product.....................................................................///////
// .main-product{
    
// }

 

#section_product_infos{
    display: flex;
    margin: 1rem 0rem;
    background: grey;
    padding: 1rem 1rem ;
    border-radius: 1rem;
   img{
        width: 100%;
        height: 380px;
        object-fit: fill;

   } 
    
    .product_infos{
    flex: 2;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 1rem;

    .product-infos_title{
        
        text-align: center;
        font-weight: bold;
    }
    .product-infos_desc{
    display: flex;
    flex-direction: column;
    
        span{
            font-weight: bold;
        }

    }
    
    .product-infos_quantite{
       display: flex;
       justify-content: space-between;
       width: 50%;
       
    }
    .product-infos_couleur{
        display: flex;
       justify-content: space-between;
       width: 50%;
       .color_red{
        background-color: red;
       }
       .color_peche{
        background-color: $color-peche;
       }
       .color_grey{
        background-color: grey;
       }
       .color_white{
        background-color: white;
       }
       .color_black{
        background-color:$color-black;
       }
       
    }
    .product-infos_btn{
        display: flex;
        justify-content: space-between;
       
        .btn-secondary{
           padding: 1rem; 
        }
    }
}
}

 

//............................. Page panier .....................................................
#main-panier{
 margin: 1rem 0 ;
 h2{
    font-size: 1.5rem;
 }
}

#section-info-panier{
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: $color-peche;
  thead{
    border-bottom: 1px solid #212529;
    background: white;
    tr{
    width: 100%;
   text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: white;
    
   }
   
       
 
  }
  tbody{
      
    tr{
        width: 100%;
        border-bottom: 1px solid #8080804d;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        background: white;
        text-align: center;
        img{
            width: 100%;
            height: 100px;
            object-fit: fill;
        }   
    }
    
    
   }

   tfoot{

    text-align: center;
   }
   
}
#section_button_valider_vider_panier {

    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;

    
    
}

// ********************formulaire********************
#section-commande{
    background: $color-peche;
    padding: 1rem;
    border-radius: 1rem;
    form{
       
       
        .div-label {
           display: flex;
           justify-content: space-between;
        #adresse{
          flex:0.93 ;
        }   
           div{
            display: flex;
                 width: 30%;
                flex-direction: column;
                margin-bottom: 1rem;
                input{
                    padding: 5px 1rem;
                    border-radius: 7px;
                }
            }

             
        }
    #submit_commande{
    display: flex;
    justify-content: space-between;
        
        }
    }
    
}

//.....................page confirmation................................
#recap_commande{
display: flex;
justify-content: center;
   #confirm_commande{
     background: #adb5bd;
     color: $color-black;
     margin: 2rem 0;
     padding: 1rem;
     border-radius: 1rem;
     width: 45rem;
     h2,p{
         margin-top: 3rem;
     } 
   }
}