
.contener-bear-photo{
 
    background-image:url("/front-end/img/teddy_4.jpg");
    background-repeat: repeat;
    background-size: 50%;

height: 30vh;
display: flex;
justify-content: center;
align-items: center;

}
.sectionNounours{
    
    background: #f3976c;
    h2{
        text-align: center;
        color: $color-peche;
        
    }
}
.container-bear{

   
    
    display: flex;
   
    flex-wrap: wrap;
   
    border-radius: 1rem 1rem 0 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    
 
}
article{
    width: 30%; 
   background: $color-peche;
   border-radius: 1rem ;
   margin: 1rem;
   box-shadow: 1px 1px 5px $color-black;
   &:hover {
    transform: scale(1.05);
    transition: transform 550ms;

   }
    img{
        
        width: 100%;
        height: 175px;
        object-fit: fill;
        border-radius: 1rem 1rem 0 0rem;

    };
    .div-details-photo{
       
        padding: 0.5rem 0.5rem ; 
        background: $color-black;
        color: $color-peche;
        height: 70px;
        border-radius:0 0 1rem 1rem;
        p{
            margin-bottom: 0.2rem;
        }
        

    }
    .nom-prix{
       
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        
    }
}

//..........page product.....................................................................///////
.main-product{
    background:$color-peche;
}
.div_product{
display: flex;
justify-content: space-between;
background: $color-peche;
color: $color-black;



    .img-product{

    width: 100%;
    height: 380px;
    object-fit: fill;
   
}

}

.product-infos{
    flex: 2;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 1rem;
    .product-infos_title{

        text-align: center;
        font-weight: bold;
    }
    .product-infos_price{
        font-weight: bold;
    }
    .product-infos-choix{
        display: flex;
        justify-content: space-between;
        .btn-secondary{
            width: 180px;
            margin-top: 1rem;
        }
    }
}

//............................. Page panier .....................................................
#main-panier{
 margin: 1rem 0 ;
 h2{
    font-size: 1.5rem;
 }
}

#section-info-panier{
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: $color-peche;
  thead{
    border-bottom: 1px solid grey;
    background: white;
    tr{
   width: 100%;
   
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: white;
   }    
 
  }

  tbody{
     tr{
         display: flex;
         justify-content: center;
         padding: 0.5rem;
         background: white;
     } 
  }
}
#section-commande{
    background: $color-peche;
    padding: 1rem;
    border-radius: 1rem;
    form{
       display: grid;
       grid-template-columns: repeat(4, 1fr);// 1f 1fr 1fr 1fr
       gap: 1rem;
       :nth-child(3){
        grid-column-start: 3;
        grid-column-end: 5;
        
       }
       :nth-child(4){
        grid-column-start: 1;
        grid-column-end: 3;
        
       }
       :nth-child(7){
        
        grid-column-end: 5;
        
       }
    }
    div{
        display: flex;
        flex-direction: column;
        input{
            padding: 5px 1rem;
            border-radius: 7px;
        }
        
    }


}

//.....................page confirmation................................
#recap_commande{
display: flex;
justify-content: center;
   #confirm_commande{
     background: #adb5bd;
     color: $color-black;
     margin: 2rem 0;
     padding: 1rem;
     border-radius: 1rem;
     width: 45rem;
     h2,p{
         margin-top: 3rem;
     } 
   }
}